html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
}

html.lock {
  overflow: hidden;
}
html.lock body {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
}
body.hide-overflow {
  position: fixed;
  width: 100%;
}
body .footer {
  margin-top: auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea,
input,
select,
button,
label {
  font: inherit;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  cursor: pointer;
}
button[disabled] {
  cursor: initial;
}

input,
button,
textarea,
select,
textarea:focus,
textarea:active,
input:active,
input:focus,
button:active,
button:focus,
select:active,
select:focus {
  outline: 0;
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}

.cc {
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.cc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 20px;
}
.cc__row:not(:last-child) {
  margin-bottom: 20px;
}
.cc__field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cc .currency-info-row {
  margin-bottom: 60px;
}
.cc__info-message {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.cc__info-message__title {
  margin-bottom: 5px;
}
.cc__total {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.cc__total__title {
  margin-bottom: 5px;
}

.field__title {
  margin-bottom: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.field__input {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
}

.select {
  position: relative;
  font-size: 16px;
}
.select.opened .select__active-block {
  background-image: url(../images/icons/arrow-up-blue.svg);
  border-color: #36469C;
}
.select.opened .select__dropdown {
  opacity: 1;
  visibility: visible;
}
.select__active-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
  background-image: url(../images/icons/arrow-down-grey.svg);
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}
.select__active-block__text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.select__dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
  -webkit-box-shadow: 0px 0px 16px rgba(40, 88, 255, 0.08);
          box-shadow: 0px 0px 16px rgba(40, 88, 255, 0.08);
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.select__dropdown__item {
  padding: 0;
}
@media (hover) {
  .select__dropdown__item:hover {
    background-color: #7689f4;
  }
  .select__dropdown__item:hover .select__dropdown__item__text {
    color: #36469C;
  }
}
.select__dropdown__item:not(:last-child) .select__dropdown__item__text {
  border-bottom: 1px solid #DFE3F7;
}
.select__dropdown__item_active .select__dropdown__item__text {
  background: url(../images/icons/check.svg) no-repeat left center/1.15em;
}
.select__dropdown__item__text {
  padding: 10px 15px 10px 28px;
}

.index {
  background: url(../images/index/bg.jpg) no-repeat center/cover;
}
.index section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */