html,
body {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 10px;
}

html.lock {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

body {
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;

	&.hide-overflow {
		position: fixed;
		width: 100%;
	}

	.footer {
		margin-top: auto;
	}
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

textarea,
input,
select,
button,
label {
	font: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	appearance: none;
}

button {
	cursor: pointer;

	&[disabled] {
		cursor: initial;
	}
}

input,
button,
textarea,
select,
textarea:focus,
textarea:active,
input:active,
input:focus,
button:active,
button:focus,
select:active,
select:focus {
	outline: 0;
}

.visually-hidden {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
}